<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
    <div class="sidebar-nav-fixed">
      <div class="navbar navbar-default text-center">
	
	<div class="navbar-header">
	  <%= link_to @station_name, station_path(@station), class: "navbar-brand" %>
	</div>
	
	<ul class="nav nav-pills nav-stacked">
	  <div class="divider-vertical"></div>
	  <% for i in 0..6 do %>
	    <li><%= link_to "#{@week[i].month}月#{@week[i].day}日(#{get_dayofweek_kana_from_date(@week[i])})", "##{get_dayofweek_eng_from_date(@week[i])}" %></li>
	  <% end %>
	</ul>
      </div>
    </div>
  </div>
  
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    <table class="table">
      <thead>
	<tr>
	  <th class="col-sm-1 col-xs-2">start</th>
	  <th class="col-sm-1 col-xs-2">end</th>
	  <th class="col-sm-1 col-xs-2">dur(s)</th>
	  <th class="col-sm-4 col-xs-4">title</th>
	  <th class="col-sm-4 hidden-xs">performers</th>
	  <th class="col-sm-1 col-xs-2"></th>
	</tr>
      </thead>
      
      <tbody>
	<% week = @week.clone %>
	
	<% @programs.each do |program| %>
	  <% if @firstProgram_ids_ofDay.include?(program.id) %>
	    <% date = week.shift %>
	    <tr id="<%= get_dayofweek_eng_from_date(date) %>">
	      <th colspan="5">
		<%= p "#{date.month}月#{date.day}日(#{get_dayofweek_kana_from_date(date)})" %>
	      </th>
	    </tr>
	  <% end %>
	  <tr id=<%= program.id %>>
	    <td class="col-xs-2"><%= program.start_date.strftime('%H:%M') %></td>
	    <td class="col-xs-2"><%= program.end_date.strftime('%H:%M') %></td>
	    <td class="col-xs-2"><%= program.duration_sec %></td>
	    <td class="col-xs-4"><%= program.title %></td>
	    <td class="hidden-xs"><%= program.performers %></td>
	    <td class="col-xs-2"><%= link_to 'rec', new_recording_path(program_id: program.id) %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
  </div>
