<h2>Configure</h2>

<% if @success != nil %>
  <div class="alert alert-success" role="alert"><%= @success %></div>
<% elsif @error != nil %>
  <div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>

<%= form_tag :config, method: "put" do %>
  <div class="form-group">
    <%= label_tag :path_rtmpdump, "rtmpdump path", class: "control-label" %>
    <%= text_field_tag :path_rtmpdump, @path_rtmpdump,
    class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= label_tag :path_swfextract, "swfextract path", class: "control-label" %>
    <%= text_field_tag :path_swfextract, @path_swfextract,
    class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :path_ffmpeg, "ffmpeg path", class: "control-label" %>
    <%= text_field_tag :path_ffmpeg, @path_ffmpeg,
    class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= label_tag :storedir, "basic directory to store recorded media",
    class: "control-label" %>
    <%= text_field_tag :storedir, @storedir,
    class: "form-control", placeholder: "/var/radikko/" %>
  </div>
  
  <div class="form-group">
    <%= label_tag :translate_type, "encoding type", class: "control-label" %>
    <%= select_tag :translate_type,
    options_for_select([["コンテナ入れ替えのみ","replace_container"],
			["aac 48kbps に変換","aac48"],
			["aac 128kbps に変換","aac128"],
			["fdk-aac 48kbps に変換","fdk_aac"]],
		       selected: @translate_type)
    %>
  </div>
  
  <div class="form-group">
    <%= submit_tag :change, class: "btn btn-primary" %>
    <%= submit_tag :cancel, class: "btn btn-default" %>
  </div>
<% end %>
