<p id="notice"><%= notice %></p>

<h2>Recordings</h2>

<table class="table">
  <thead>
    <tr>
      <th>station</th>
      <th>start</th>
      <th>dur(s)</th>
      <th>title</th>
      <th>filename</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.station_id %></td>
	<th><%= recording.start_datetime.strftime("%Y/%m/%d %H:%M") %></th>
        <td><%= recording.recording_second %></td>
        <td><%= recording.title %></td>
        <td><%= recording.filename %></td>
        <td><%= link_to 'edit', edit_recording_path(recording) %></td>
        <td><%= link_to 'destroy', recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recording', new_recording_path %>
