<!DOCTYPE html>
<html>
  
  <head>
    <script>
    var shiftWindow = function() { scrollBy(0, -50) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
    </script>
    
    <title>Radikko</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <%= render "layouts/shim" %>
  </head>
  
  <body onload="load()">
    <%= render "layouts/header" %>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <%= render "layouts/footer" %>
  </body>
  
</html>
